.settings-toggle {
  .glyphicon {
    border: none !important;
    color: inherit;
    display: inline-block;
    height:      @font-size-base;
    line-height: @font-size-base;
    margin:  0;
    padding: 0;
    text-decoration: none !important;
    transform: rotate(0deg);
    transition: transform 1.5s;
    width:  @font-size-base;
  }

  &.open {
    .glyphicon {
      transform: rotate(180deg);
    }
  }
}
