<ul class="nav">
	<li><a href="#/new"><span class="glyphicon glyphicon-chevron-right"></span> New Request</a></li>
	<li class="nav-header">Curl</li>
	<li class="input">
		<input type="text" disabled="disabled" value="<%- model ? model.curl : "" %>" />
	</li>
	<li class="nav-header examples">Examples</li>
	<li class="nav-header">Resources</li>
	<li><a href="https://github.com/CPAN-API/cpan-api/wiki/API-docs">API Documentation</a></li>
	<li><a href="https://github.com/CPAN-API/metacpan-explorer/issues">Report Issue</a></li>
	<li><a href="https://github.com/CPAN-API/metacpan-explorer">Fork Me</a></li>
</ul>
